body {
  background-color: #FFC56B;
  color: white;
  font-family: futura;
  font-style: medium;
  cursor: pointer;
  text-align: center;
}
a { 
  color: white;
  
}

h1 {
  font-size: 40px;
  color: white;
}

li {
  font-style: italic;
}

h3{
  text-decoration: ;
  font-weight: bold;
}